@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');

:root {
    /*light/dark colors */
    --black-txt-: #080808;
    --darker-gray-txt-: #2a2a2a;
    --gray-txt-: #878686;
    --gray2-txt-: #717171;
    --white-txt-: #fefefe;
    --white-light-txt-: #dcdada;
    --white-lighter-txt: #f3f0f0;
    --light-clr-: #D3D3D3;
    --full-white-clr-: #FFFFFF;
    --full-black-clr-: #000000;
    --beige-clr-: #EDE9E2;
    /*accent colors*/
    --accent-clr-: #1F2655;
    --light-green-: #A9F2BA;
    --light-accent-clr-: rgba(120, 129, 187, .3);
    --accent-orange-clr-: #be4e11;
    --accent-green-clr-: #72d228;
    --accent-green2-clr-: #00ff00;
    --accent-blue-clr-: #013267;
    --accent-orange2-clr-: #F98F26;
    --clr-bg-card: hsl(221, 100%, 32%, .2);
    --clr-bg-card: hsl(0, 0%, 1%, .8);
    --grad-bkr-: linear-gradient(to left, #00ff00, #be4e11);
    /* box-model */
    --1-: 1rem;
    --2-: 2rem;
    --05-: .5rem;
    --02-: .2rem;
    --1-5-: 1.5rem;
    --08-: .8rem;
    --transition-2-: .2s all ease-in-out;
    --transition-3-: all 0.3s ease;
    --ff-noto-: 'Noto Sans', sans-serif;
    --ff-roboto-: 'Roboto', sans-serif;
    --ff-exo-: 'Exo', sans-serif;
    --ff-serif-: 'Kalnia', serif;
    --radius-2-: 2px;
    --radius-4-: 4px;
    --radius-5-: 5px;
    --radius-8-: 8px;
    --radius-15-: 15px;
    --radius-25-: 25px;
    --radius-50-: 50%;
    --box-shadow-1-: rgba(223, 223, 227, 0.3) 0px 7px 29px 0px;
    --box-shadow-2-: rgba(94, 93, 93, 0.35) 2px 2px 10px 2px;
    --box-shadow-white-: rgba(192, 189, 189, 0.09) 0px 2px 10px;
    /*  purpleset  */
    --strong-purple: #581c87;
    --deep-purple: #6b21a8;
    --medium-purple: #7e22ce;
    --vivid-purple: #9333ea;
    --bright-purple: #a855f7;
    --soft-purple: #c084fc;
    --light-purple: #d8b4fe;
    --pale-purple: #e9d5ff;
    --faint-purple: #f3e8ff;
    --ghost-purple: #faf5ff;
    --color-bg: #111827;
    --color-bg-secondary: #1F2937;
    --color-accent-hover: #A78BFA;
    --color-accent-pink: #EC4899;
    --color-text: #F9FAFB;
    --color-text-secondary: #9CA3AF;
    --color-border: #374151;
    --color-success: #10B981;
    --color-danger: #EF4444;


}

::-webkit-scrollbar {
    height: 4px;
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--pale-purple);
    border-radius: var(--radius-4-);
    overflow: hidden;
}

::-webkit-scrollbar-thumb {
    border-radius: var(--radius-4-);
    background: var(--bright-purple);
    cursor: pointer;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
}

.truncate-multiline {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


svg,
i,
img,
span {
    /*    max-width: 100%; */
    height: auto;
    display: inline-block;
    transition: var(--transition-2-);
}

h1, h2, h3, button {
    font-family: 'Poppins', sans-serif;
}

body, p, a, span, li {
    font-family: 'Inter', sans-serif;
}


body {
    /* 
     line-height: 1.5; */
    /*    overflow: hidden;
     position: relative; */

    height: 100dvh;
    background-color: #070a13;
    font-family: sans-serif;

    position: relative;


}


/* #navbarContainer {
    margin: 0;
    min-width: 100%;


}
 */

/* #navbarContainer nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-width: 100%;
}
 */
/* #navbarContainer .nav-links {
    flex: 1;
    justify-content: center;
} */
/* 
#navbarContainer .nav-links a:first-of-type {
    margin-inline-start: auto;

}
 */



/* #navbarContainer .nav-links .notifications-container {
    margin-inline-start: auto;
}

#navbarContainer nav .logo {
    margin-inline-end: auto;
}
 */
#navbarContainer a,
#navbarContainer nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
}

h1 {
    text-align: start;
}


input,
button {
    padding: 8px;
    font-size: 1rem;
    transition: var(--transition-2-);
}

input:focus, input:hover {

    outline: 1px solid rgba(192, 189, 189, 0.09);
}

.msg {
    padding: 10px;
    border-radius: 6px;
}

.ok {
    background: #e8f8ee;
    color: #10B981;
    border: 1px solid #10B981;
}

.err {
    background: #fdeaea;
    color: #EF4444;
    border: 1px solid #f1c1c1;
}

#loginForm, #registerForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin: auto;

}

.switch-auth {
    text-align: center;
    margin-block-start: 1.5rem;
}

#name {
    text-transform: capitalize;
}

.optional-info {
    min-width: 50%;
    min-height: 150px;
    background-color: rgba(120, 129, 187, .3);
    border-radius: var(--radius-2-);
    outline: 1px solid rgba(120, 129, 187, .3);
    outline-offset: 2px;

}

.optional-info img {
    outline: 1px solid rgba(120, 129, 187, .3);
    outline-offset: 2px;
}

.btn-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: .8rem;
    margin-block-start: 100%;
    bottom: 5%;
    padding-block: .4rem;
    padding-inline: 1rem;
    border-radius: var(--radius-4-);
    background-color: #2a2a2a;
    color: var(--full-white-clr-);
}

.btn-edit svg {
    font-size: .6rem;
}

.btn-edit:hover,
#modalForm button[type=submit]:hover {
    background-color: #3eb9c9;
    color: var(--full-white-clr-);
}

#modalForm button[type=submit] {
    background-color: #2a2a2a;
}




/**** post stats ******/
.post-img-container {}

/*  #likeBtn {
     position: absolute;
     top: 0;
     right: 1rem;
 } */

.edit-btn, .delete-btn {
    border-radius: var(--radius-50-);

}

.card {
    position: relative;
    transition: var(--transition-2-);
    cursor: pointer;
    padding-inline: var(--2-);
    padding-block: var(--2-);
    background-color: var(--beige-clr-);
    border-radius: var(--radius-25-);
    color: var(--black-txt-);
    box-shadow: var(--box-shadow-2-);
    transition: var(--transition-2-);
    z-index: 10;
    font-family: 'Poppins', sans-serif;
    animation: slide-card 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

}

/******* details card page ***********/
#postContainer {
    background-color: #1F2937;
}

.post-card,
.post-details-card {
    /* outline: .2px solid #717171; */
    outline-offset: 1px;
    background-color: #111827;
    background-color: #192338;
    /* outline: .2px solid var(--gray2-txt-); */
    outline-offset: 1px;
    border-radius: var(--radius-15-);
    /*     outline: 1px solid #374f82;
    outline: .5px solid var(--deep-purple);
    outline-offset: 1px; */
    overflow: hidden;


}



.post-card-img,
.card-details-content img {
    border-radius: var(--radius-15-);
    /*  outline: .2px solid var(--gray2-txt-); */
    outline-offset: 4px;
    overflow: hidden;


}

.card-details-content img {
    margin-block-end: var(--05-);
}

.card-details-content {
    padding: var(--1-);

}



.post-details-card h2 {
    font-family: "Roboto", sans-serif;
    color: var(--white-txt-);
    font-weight: 400;
}

.post-details-card h3 {
    color: var(--white-txt-);
    font-size: .9rem;
    font-weight: 400;

}

.card-details-content p:last-of-type a {
    color: var(--light-purple);
    font-weight: 400;
}


.post-details-card p {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: .95rem;
}


.card-details-content p span {
    font-weight: 200;
    font-size: .8rem;

}

.card-details-content .reaction-counts-container span {
    display: flex;
    gap: var(--02-);
}


.post-details-card-right h3 svg,
.card-details-content .reaction-counts-container span svg, #reactionBtn svg {
    stroke-width: .8px;
}

#reactionBtn svg {

    fill: var(--deep-purple);
    stroke: var(--deep-purple);
}

/***** all users page *******/
/* aside {
    outline: .2px solid var(--gray2-txt-);
    outline-offset: 1px;

} */


#searchFeedback {

    color: var(--white-txt-);
    display: inline-block;
    width: max-content;
    color: var(--white-txt-);
    padding: var(--02-)var(--05-);
    border-radius: var(--radius-2-);
    font-size: 0.85rem;
    transition: all 0.2s ease;
    text-transform: capitalize;

}

.load-more-btn {
    background-color: var(--deep-purple);
    border-radius: var(--radius-4-);
    transition: var(--transition-2-);
}

/* #loadMoreContainer {
    position: relative;
    z-index: 100;
    outline: 1px solid red;


} */

.load-more-btn {
    position: relative;
    padding-block: var(--05-);
    font-weight: 400;
    background-color: var(--vivid-purple);
    width: max-content;
    color: var(--full-black-clr-);
    font-size: .8rem;
    text-transform: capitalize;
    box-shadow: rgba(160, 248, 138, 0.2) 0px 60px 40px -7px;
    border-radius: var(--radius-4-);
    overflow: hidden;
    z-index: 100;
    border: 1px solid transparent;
}

.load-more-btn::before {
    inset: 0;
    transform: translateY(-100%);
    content: "";
    position: absolute;
    background-color: var(--deep-purple);
    z-index: -1;
    transition: var(--transition-2-);
}

.load-more-btn:hover::before {
    transform: translateY(0);
}

.load-more-btn:hover {
    border-color: var(--deep-purple);
    color: var(--white-txt-);
}


@keyframes slide-card {
    0% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(0);
    }
}

.card:hover {
    box-shadow: rgba(41, 44, 47, 0.45) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.card .post-stats div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;

}

.card .post-stats div svg {
    inline-size: 1.2rem;
    block-size: 1.2rem;
    vertical-align: auto;
    margin-inline-end: .2rem;
}

.card .post-stats div span {
    font-size: 1rem;
}

/* show toast msg*/
@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.animate-fade-in {
    animation: fade-in 0.3s ease-out forwards;
}

.animate-fade-out {
    animation: fade-out 0.3s ease-in forwards;
}

/* battery loader **/
@keyframes battery-fill {
    0% {
        background-color: #e5e7eb;
    }

    50% {
        background-color: var(--deep-purple);

    }

    100% {
        background-color: #e5e7eb;
    }
}

.animate-battery-delay-1 {
    animation: battery-fill .8s infinite ease-in-out;
    animation-delay: 0s;
}

.animate-battery-delay-2 {
    animation: battery-fill .8s infinite ease-in-out;
    animation-delay: 0.1s;
}

.animate-battery-delay-3 {
    animation: battery-fill .8s infinite ease-in-out;
    animation-delay: 0.2s;
}

.animate-battery-delay-4 {
    animation: battery-fill .8s infinite ease-in-out;
    animation-delay: 0.3s;
}

.animate-battery-delay-5 {
    animation: battery-fill .8s infinite ease-in-out;
    animation-delay: 0.4s;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }

}

.animate-scroll {
    display: flex;
    width: max-content;
    animation: scroll 30s linear infinite;
}

/** Notifications****/


.notif-div {
    padding: var(--05-) var(--08-);
    margin: var(--02-)0;
    margin-block: 0;
    font-size: .75rem;
    border-radius: var(--radius-4-);
    background-color: #161c25;
    color: var(--white-txt-);
    box-shadow: var(--box-shadow-1-);
    background: linear-gradient(to right, #212735, #3a4259);
    transition: var(--transition-2-);
    color: var(--full-white-clr-);
    cursor: pointer;
}

.notif-div:hover {
    background: linear-gradient(to left, #212735, #3a4259);
}

#notificationList p {
    outline: 1px solid red;
    text-align: left;
    width: 100%;
}

#notificationBellIcon {
    font-weight: 300;
}


nav div a svg, nav a svg {
    inline-size: 1.2rem;
    block-size: 1.2rem;
    aspect-ratio: 1;
    stroke-width: 2px;

}


/**** feed page ******/
.feed-card {
    background-color: #192338;
}

.main-feed-container aside .aside-section {
    background-color: #111827;
    background-color: #192338;
    /*  background-color: #181e2a; */
}



.main-feed-container aside {
    border-radius: var(--radius-8-);

}

.username {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
    display: block;
}